@use "base/mixins.scss";
:root {
    --font-family: "Poppins", sans-serif;
    --second-family: "Inter", sans-serif;
    --third-family: "Manrope", sans-serif;
    --font3: "Outfit", sans-serif;
    --font4: "DM Sans", sans-serif;
    --font5: "Public Sans", sans-serif;
    --font6: "Roboto", sans-serif;
    --font7: "Urbanist", sans-serif;
    --font8: "Plus Jakarta Sans", sans-serif;
  }
.header__container {
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 57px;
}
.header {
    margin-top: 45px;
  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 57px;
    &__logo {
        a {
          img {
          }
          &:hover {}
          &:active {}
          &:focus {}
        }
      }
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 53px;
      li {
        font-family: var(--second-family);
        font-weight: 500;
        font-size: 17px;
        line-height: 150%;
        text-transform: uppercase;
        a {
        color: #606060;
        &:hover {
            color: #000;
        }
        &:active {}
        &:focus {}
        }
      }
    }
  }
  .header__search {
    flex-shrink: 0;
  
    input {
      font-family: var(--second-family);
      font-size: 16px;
      line-height: 150%;
      color: #b0b0b0; // Сірий текст
      padding: 16px 24px;
      width: 100%; // Адаптивна ширина
      border: none;
      border-radius: 16px;
      background: #f5f5f5; // Світло-сірий фон
      outline: none;
  
      &::placeholder {
        color: #b0b0b0; // Колір тексту для placeholder
      }
  
      &:focus {
        background: #e0e0e0; // Трохи темніший фон при фокусі
      }
    }
  
    .header__search-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 57px;
      height: 57px;
      background: #141416; // Темний фон
      border-radius: 50%; // Кругла кнопка
      color: #fff; // Білий колір іконки
      cursor: pointer;
      border: none;
  
      &:hover {
        background: #282828; // Темніший фон при наведенні
      }
  
      &:active {
        background: #000; // Чорний фон при натисканні
      }
    }
  }
    .header__wallet {
      .header__wallet-button {
        display: flex;
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        text-transform: uppercase;
        color: #fff;
        border-radius: 16px;
        padding: 16px 24px;
        width: 199px;
        height: 57px;
        background: #141416;
        &:hover {
            background-color: #282828;
        }
        &:active {

        }
        &:focus {

        }
      }
    }
}
main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
  .sidebar {
    margin-top: 110px;
    &__container {
      display: flex;
      flex-direction: column;
      max-width: 567px;
      .sidebar__text {
        padding: 15px;
        &::before {
          content: "";
          display: block;
          width: 195px;
          height: 1px;
          background-color: #e0e0e0;
          margin-bottom: 24px;
        }
        &__title {
          font-family: var(--font-family);
          font-weight: 600;
          font-size: 75px;
          line-height: 120%;
          letter-spacing: -0.04em;
          text-transform: capitalize;
          color: #141416;
        }
        &__main {
          margin-top: 16px;
          font-family: var(--second-family);
          font-weight: 400;
          font-size: 18px;
          line-height: 156%;
          text-align: justify;
          color: #676767;
        }
        span {
          font-weight: 600;
          color: #141416;
        }
      }
      .sidebar__buttons {
        margin-top: 45px;
        max-width: 340px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
          &__explore-button {
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 16px;
            letter-spacing: 0.01em;
            text-transform: uppercase;
            color: #fff;
            border-radius: 12px;
            width: 179px;
            height: 60px;
            background: #000;
            &:hover {}
            &:active {}
            &:focus {}
          }
          &__create-button {
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 16px;
            letter-spacing: 0.01em;
            text-transform: uppercase;
            color: #000;
            border: 2px solid #000;
            border-radius: 12px;
            width: 138px;
            height: 60px;
            &:hover {}
            &:active {}
            &:focus {}
          }
        }
      .sidebar__stats {
        display: flex;
        flex-direction: row;
        gap: 65px;
        margin-top: 82px;
        &__art__works {
          display: flex;
          flex-direction: column;
          &__number {font-family: var(--font5);
            font-weight: 600;
            font-size: 36px;
            line-height: 125%;
            color: #141416;
          }
          &__title {font-family: var(--second-family);
            font-weight: 500;
            font-size: 12px;
            line-height: 150%;
            color: #848586;
          }
        }
        &__creators {
          &__number {font-family: var(--font5);
            font-weight: 600;
            font-size: 36px;
            line-height: 125%;
            color: #141416;
          }
          &__title {font-family: var(--second-family);
            font-weight: 500;
            font-size: 12px;
            line-height: 150%;
            color: #848586;
          }
        }
        &__collections {
          &__number {font-family: var(--font5);
            font-weight: 600;
            font-size: 36px;
            line-height: 125%;
            color: #141416;
          }
          &__title {font-family: var(--second-family);
            font-weight: 500;
            font-size: 12px;
            line-height: 150%;
            color: #848586;
          }
        }
      }
    }
  }
  
  .aside {
    max-width: 727px;
    .about__container {
      display: flex;
      img {
        object-fit: contain;
      }
      .about__nft {
      }
      .about__box {
        display: flex;
        flex-direction: column;
        &__arrow {
          margin-top: 260px;
          max-width: 116px;
        }
        &__nft {
          max-width: 320px;
          height: auto;
        }
      }
    }
  }

  
  .weekly {
    background-color: #f1f1f1;
    position: relative;
    min-width: 0;
    // padding: 0 30px;
    min-height: 750px;
    &__title {
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 45px;
      line-height: 60%;
      color: #c5c5c5;
      text-align: center;
      margin-top: 70px;
    }
    .swiper {
      .swiper-wrapper {
        min-width: 0;
        margin: 100px 0;
        .swiper-slide {
          display: flex;
          justify-content: center;
        }
        .swiper-card {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          padding: 0 20px;
          border-radius: 23px;
          max-width: 281px;
          height: 402px;
          box-shadow: 39px 12px 59px 0 rgba(199, 199, 199, 0.6);
          background: #fff;
          &__box {
          }
          .swiper-card__img {
            width: 253px;
            height: 253px;
            // padding: 14px;
            margin: 14px 0;
            border-radius: 23px;
            object-fit: cover;
          }
          .swiper-card__title {
            font-family: var(--font-family);
            font-weight: 600;
            font-size: 21px;
            line-height: 140%;
            color: #141416;
          }
          &__bottom {
            display: flex;
            flex-direction: row;
            margin-top: 15px;
            justify-content: space-between;
            align-items: center;
            // gap: 20px;
          .swiper-card__text {
            display: flex;
            flex-direction: column;
            // align-items: center;
            &__main {
              font-family: var(--font-family);
              font-weight: 400;
              font-size: 14px;
              line-height: 150%;
              letter-spacing: 0.01em;
              color: #94a3b8;
              margin-bottom: 5px;
            }
          }
            .swiper-card__price {
              &__number {
                display: flex;
                flex-direction: row;
                font-family: var(--font-family);
                font-weight: 500;
                font-size: 16px;
                line-height: 150%;
                color: #141416;
                &::before {
                  content: "";
                  width: 21px;
                  height: 21px;
                  background: url("../img/eth.svg") no-repeat center;
                  display: flex;
                }
              }
            }
            .swiper-card__button {
              font-family: var(--font-family);
              font-weight: 600;
              font-size: 14px;
              line-height: 150%;
              letter-spacing: 0.01em;
              color: #fff;
              border-radius: 12px;
              padding: 9px 18px;
              width: 121px;
              height: 51px;
              background: #141416;
              text-align: center;
              align-content: center;
              &:hover {}
              &:active {}
              &:focus {}
            }
          }
        }
      }
      .swiper-pagination {
      }
      .swiper-button{
        display: flex;
        flex-direction: row;
        position: absolute;
        width: 100%;
        height: 68px;
        top: 88%;
        // left: 45%;
        z-index: 10;
        &-prev {
          display: flex;
          align-items: center;
          justify-content: center;
          box-shadow: 0 43px 34px -26px rgba(15, 15, 15, 0.12);
          background: #fcfcfd;
          padding: 10px;
          border-radius: 17px;
          width: 83px;
          height: 68px;
          cursor: pointer;
        }
        &-next {
          display: flex;
          align-items: center;
          justify-content: center;
          box-shadow: 0 43px 34px -26px rgba(15, 15, 15, 0.12);
          background: #fcfcfd;
          padding: 10px;
          border-radius: 17px;
          width: 83px;
          height: 68px;
          margin-left: -25px;
          cursor: pointer;
        }
      }
      .swiper-scrollbar {
      }
    }
  }
  
.weekly__recent__viewed {
  position: absolute;
  top: 40em;
  right: 5em;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #edf2f7;
  border-radius: 16px;
  width: 365px;
  box-shadow: 10px 10px 50px 0 rgba(20, 20, 22, 0.1);
  background: #fff;
  &__title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 21px;
    line-height: 135%;
    letter-spacing: 0.01em;
    color: #1a202c;
  }
  &__sellers {
    display: flex;
    flex-direction: column;
    &__seller {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
      &__aside {
        display: flex;
        flex-direction: row;
        &__img {
          object-fit: cover;
          margin: 0 21px 0 0 ;
          border: 1.92px solid #fff;
          border-radius: 960px;
          width: 46px;
          height: 46px;
        }
        &__text {
          &__name{
            font-family: var(--font-family);
            font-weight: 600;
            font-size: 15px;
            line-height: 140%;
            color: #141416;
            margin-bottom: 8px;
          }
          &__username {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 12px;
            line-height: 150%;
            color: #64748b;
          }
        }
      }
      &__article {
        &__number {
          display: flex;
          flex-direction: row;
          font-family: var(--font-family);
          font-weight: 600;
          font-size: 15px;
          line-height: 140%;
          color: #141416;
          margin-bottom: 7px;
          &::before {
            content: "";
            width: 21px;
            height: 21px;
            background: url("../img/eth.svg") no-repeat center;
          }
        }
        &__percent {
          font-family: var(--font-family);
          font-weight: 400;
          font-size: 13px;
          line-height: 150%;
          padding-left: 12px;
          color: #10c352;
          &_red {
            color: #f00;
          }
        }
      }
    }
  }
}

  .top-collection {
    &__title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 45px;
    line-height: 99%;
    color: #141416;
    margin: 180px 0 90px;
    text-align: center;
    }
    &__table {
      display: flex;
      flex-direction: column;
      flex: 0 1 auto;
      margin: 0 auto;
      border-collapse: collapse;
      max-width: 1250px;
      // min-width: 819px;
      // width: 100%;
      overflow-x: scroll;
      // table-layout: fixed;
      thead {
        display: flex;
        justify-content: space-between;
        tr {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 15px;
          gap: 30px;
          th{
            cursor: pointer;
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 22px;
            line-height: 130%;
            letter-spacing: 0.01em;
            color: #93989a;
            text-align: left;
          }
          th:nth-child(1) {
            width: 260px;
          }
          th:nth-child(2) {
            width: 150px;
          }
          th:nth-child(3) {
            width: 80px;
          }
          th:nth-child(4) {
            // width: 6%;
          }
        }
      }
      tbody {
        tr {
          padding: 0 15px;
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid #ccc;
          gap: 30px;
        }
        td {
          font-family: var(--font-family);
          font-weight: 500;
          font-size: 28px;
          line-height: 140%;
          color: #141416;
          padding: 41px 0 26px 0;
          text-align: left;
          .top-collection__table__img {
            display: inline-block;
            object-fit: cover;
            border: 3.50px solid #fff;
            border-radius: 1751px;
            width: 84px;
            height: 84px;
            margin-right: 25px;
          }
          .top-collection__table__name {
            display: inline-block;
            &__title {
              font-family: var(--font-family);
              font-weight: 500;
              font-size: 28px;
              line-height: 140%;
              color: #141416;
            }
            &__description {
              font-family: var(--font-family);
              font-weight: 400;
              font-size: 22px;
              line-height: 150%;
              color: #64748b;
            }
          }
        }
        .top-collection__table__volume {
          font-family: var(--font-family);
          font-weight: 600;
          font-size: 24px;
          line-height: 140%;
          color: #141416;
        }
        .top-collection__table__percent {
          font-family: var(--font-family);
          font-weight: 500;
          font-size: 24px;
          line-height: 130%;
          letter-spacing: 0.01em;
          color: #10c352;
        }
        .top-collection__table__floor__price {
          font-family: var(--font-family);
          font-weight: 600;
          font-size: 24px;
          line-height: 140%;
          color: #141416;
        }
        .top-collection__table__owners {
          font-family: var(--font-family);
          font-weight: 500;
          font-size: 23px;
          line-height: 130%;
          letter-spacing: 0.01em;
          color: #010101;
        }
        .top-collection__table__items {
          font-family: var(--font-family);
          font-weight: 500;
          font-size: 23px;
          line-height: 130%;
          letter-spacing: 0.01em;
          color: #010101;
        }
      }
    }
  }
  th.sort-asc::after {
    content: " ▲";
  }
  th.sort-desc::after {
    content: " ▼";
  }
  
  
  .explore-marketplace {
    display: flex;
    flex-direction: column;
    &__container {
    }
    &__title {
      text-align: center;
      margin: 180px 0 90px;
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 45px;
      line-height: 110%;
      color: #141416;
    }
    &__buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      &__box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        max-width: 546px;
        gap: 22px;
        padding: 0 10px;
      }
      .explore-marketplace__button {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 1 auto;
        font-family: var(--third-family);
        font-weight: 600;
        font-size: 15px;
        line-height: 150%;
        letter-spacing: 0.01em;
        color: #1a202c;
        border: 2.21px solid #141416;
        border-radius: 13px;
        padding: 27px;
        height: 56px;
      }
    }
    &__cards {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 30px;
      margin-top: 100px;
      .explore-marketplace__card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        border-radius: 23px;
        max-width: 281px;
        height: 402px;
        box-shadow: 39px 12px 59px 0 rgba(199, 199, 199, 0.6);
        background: #fff;
        &__box {
        }
        .explore-marketplace__card__img {
          width: 253px;
          height: 253px;
          // padding: 14px;
          margin: 14px 0;
          border-radius: 23px;
          object-fit: cover
        }
        .explore-marketplace__card__title {
          font-family: var(--font-family);
          font-weight: 600;
          font-size: 21px;
          line-height: 140%;
          color: #141416;
        }
        .explore-marketplace__card__bottom {
          display: flex;
          flex-direction: row;
          margin-top: 15px;
          justify-content: space-between;
          align-items: center;
          // gap: 20px;
          .explore-marketplace__card__text {            
            display: flex;
            flex-direction: column;
            // align-items: center;
            &__main {
              font-family: var(--font-family);
              font-weight: 400;
              font-size: 14px;
              line-height: 150%;
              letter-spacing: 0.01em;
              color: #94a3b8;
              margin-bottom: 5px;
            }
          }
          .explore-marketplace__card__button {
            font-family: var(--font-family);
            font-weight: 600;
            font-size: 14px;
            line-height: 150%;
            letter-spacing: 0.01em;
            color: #fff;
            border-radius: 12px;
            padding: 9px 18px;
            width: 121px;
            height: 51px;
            background: #141416;
            text-align: center;
            align-content: center;
            &:hover {}
            &:active {}
            &:focus {}
          }
          .explore-marketplace__card__price {
            &__number {
              display: flex;
              flex-direction: row;
              font-family: var(--font-family);
              font-weight: 500;
              font-size: 16px;
              line-height: 150%;
              color: #141416;
              &::before {
                content: "";
                width: 21px;
                height: 21px;
                background: url("../img/eth.svg") no-repeat center;
                display: flex;
              }
            }
          }
        }
      }
    }
  }
  
  .just-unleash__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .just-unleash {padding: 0 10px;
    margin: 245px 0 0 0;
    &::before {
      content: "";
      display: block;
      max-width: 1250px;
      margin: 0 auto;
      width: 100%;
      height: 1px;
      background-color: #e0e0e0;
      margin-bottom: 24px;
    }

      &__text {
        &__title {font-family: var(--font-family);
          font-weight: 600;
          font-size: 45px;
          line-height: 121%;
          text-transform: capitalize;
          color: #18181b;
          max-width: 450px;
          margin: 116px 0 45px 0;
          span {
            color: #c5c5c5;
  
          }
        }
        &__main {
          display: flex;
          flex-direction: row;
          align-items: center;
          font-family: var(--font-family);
          font-weight: 400;
          font-size: 16px;
          line-height: 200%;
          color: #12141d;
          opacity: 0.7;
          gap: 6px;
          &::before{
            content: url('../img/checkmark.svg');
            width: 26px;
            height: 26px;
            opacity: 1;
          }
        }
        &__buttons {
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: var(--font-family);
          font-weight: 600;
          font-size: 16px;
          line-height: 150%;
          text-transform: uppercase;
          color: #fff;
          border-radius: 16px;
          width: 199px;
          height: 57px;
          background: #141416;
          margin-top: 45px;
          &__button {
            padding: 16px 50px;
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 14px;
            line-height: 125%;
            text-transform: capitalize;
            text-align: center;
            color: #fff;
          &:hover {
          }
          &:active {
  
          }
          &:focus {
  
          }
          &:visited {
            color: #fff;
          }
        }
      }
      }
    &__aside {
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 45px;
      &__best__sellers {
        display: flex;
        flex-direction: column;
        border: 0.88px solid #edf2f7;
        border-radius: 14px;
        width: 322px;
        box-shadow: 9px 9px 44px 0 rgba(20, 20, 22, 0.1);
        background: #fff;
        padding: 26px;
        &__title {
          font-family: var(--font-family);
          font-weight: 600;
          font-size: 18px;
          line-height: 135%;
          letter-spacing: 0.01em;
          color: #1a202c;
          text-transform: capitalize;
          margin-bottom: 24px;
        }
        &__main {
          &__seller{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;
            &__box{
              display: flex;
              flex-direction: row;
              align-items: center;
              &__img {
                display: flex;
                align-items: center;
                object-fit: cover;
                margin: 0 21px 0 0;
                border: 1.92px solid #fff;
                border-radius: 960px;
                width: 46px;
                height: 46px;
              }
              &__text {
                &__name{
                  font-family: var(--font-family);
                  font-weight: 600;
                  font-size: 15px;
                  line-height: 120%;
                  color: #141416;
                  margin-bottom: 8px;
                }
                &__username {
                  font-family: var(--font-family);
                  font-weight: 400;
                  font-size: 12px;
                  line-height: 120%;
                  color: #64748b;
                }
              }
            }
            &__follow{
              &__button {
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1.74px solid #e6e8ec;
                border-radius: 7px;
                padding: 6px 13px;
                width: 65px;
                height: 27px;
                font-family: var(--font4);
                font-weight: 700;
                font-size: 12px;
                line-height: 114%;
                text-align: center;
                color: #23262f;
                background-color: #fff;
                &:hover {}
                &:active {}
                &:focus {}
              }
            }
          }
        }
      }
      &__recent__viewed {
        position: absolute;
        top: 21em;
        right: 10em;
        display: flex;
        flex-direction: column;
        padding: 20px;
        border: 1px solid #edf2f7;
        border-radius: 16px;
        width: 365px;
        box-shadow: 10px 10px 50px 0 rgba(20, 20, 22, 0.1);
        background: #fff;
        &__title {
          font-family: var(--font-family);
          font-weight: 600;
          font-size: 21px;
          line-height: 135%;
          letter-spacing: 0.01em;
          color: #1a202c;
        }
        &__sellers {
          display: flex;
          flex-direction: column;
          &__seller {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
            &__aside {
              display: flex;
              flex-direction: row;
              &__img {
                object-fit: cover;
                margin: 0 21px 0 0 ;
                border: 1.92px solid #fff;
                border-radius: 960px;
                width: 46px;
                height: 46px;
              }
              &__text {
                &__name{
                  font-family: var(--font-family);
                  font-weight: 600;
                  font-size: 15px;
                  line-height: 140%;
                  color: #141416;
                  margin-bottom: 8px;
                }
                &__username {
                  font-family: var(--font-family);
                  font-weight: 400;
                  font-size: 12px;
                  line-height: 150%;
                  color: #64748b;
                }
              }
            }
            &__article {
              &__number {
                display: flex;
                flex-direction: row;
                font-family: var(--font-family);
                font-weight: 600;
                font-size: 15px;
                line-height: 140%;
                color: #141416;
                margin-bottom: 7px;
                &::before {
                  content: "";
                  width: 21px;
                  height: 21px;
                  background: url("../img/eth.svg") no-repeat center;
                }
              }
              &__percent {
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 13px;
                line-height: 150%;
                padding-left: 12px;
                color: #10c352;
                &_red {
                  color: #f00;
                }
              }
            }
          }
        }
      }
      &__new__bid{
        display: flex;
        box-sizing: content-box;
        position: absolute;
        top: 0.5em;
        right: -8em;
        flex-direction: row;
        align-items: center;
        height: auto;
        max-height: 84px;
        max-width: 325px;
        width: 75%;
        gap: 11px;
        border-radius: 13px;
        padding: 11px;
        backdrop-filter: blur(30.380367279052734px);
        box-shadow: 0 19px 28px 0 rgba(70, 70, 70, 0.1);
        background: linear-gradient(226deg, #fcfcfd 0%, rgba(252, 252, 253, 0.6) 100%);
        &__img {
          position: relative;
          object-fit: cover;
          border-radius: 34px;
          width: 39px;
          height: 39px;
          // &::after{
          //   content: url('../img/verifiedartist.png');
          //   position: absolute;
          //   top: 0;
          //   right: 0;
          //   width: 17px;
          //   height: 17px;
          // }
        }
        &__text {
          &__title{
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 13px;
            line-height: 171%;
            color: #949494;
          }
          &__name {
            font-family: var(--font-family);
            font-weight: 600;
            font-size: 13px;
            line-height: 171%;
            color: #141416;
          }
          &__info {
            font-family: var(--font-family);
            font-weight: 600;
            font-size: 11px;
            line-height: 167%;
            color: #141416;
            &__date{
              font-weight: 400;
              color: #949494;
            }
          }
        }
        &::after {
          content: url('../img/nft1.1.1.png');
          border-radius: 10px;
          width: 60px;
          height: 60px;
        }
      }
    }
  }